<ul>
    <% @words.each do |word| %>
        <div class='card' style="margin: 15px;">
            <div class='card-body text-center'>
             <p>単語：<%= word.content %></p>
             <p name="p2">意味：<%= word.meaning %></p>
            
            

            
                
                <% if current_user == word.user %>
                    <%= link_to "削除", word, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                    <%= link_to '編集', edit_word_path(word),class: 'btn btn-secondary btn-sm' %>
                <% end %>
                <%= render 'bookmarks/bookmark_button', word: word %>
            </div>
        </div>
        
        
        
        
    <% end %>
    
    
</ul>