<h1>編集</h1>

<div class="row">
    <aside class="col-sm-8">
      <%= form_with(model: @word, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :content, '単語' %>
          <%= f.text_area :content, class: 'form-control' %>
          <%= f.label :content, '意味' %>
          <%= f.text_area :meaning, class: 'form-control' %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
</div>